// common
ul {
    list-style:none;
}

/* Container */
.container {
    margin: 0 auto;
    max-width: 100%;
    width: 1400px;
}
@media screen and (max-width: 1680px) {

    .container {
        width: 1200px;
    }
}
@media screen and (max-width: 1280px) {

    .container {
        width: 960px;
    }
}
@media screen and (max-width: 980px) {

    .container {
        width: 90%;
    }
}
@media screen and (max-width: 736px) {

    .container {
        width: 100%;
    }
}
/* visusal */
@media (min-width: 1200px) {
    #visual {
        text-align: center;
    }

}

// visual
.visual_img {
    height: 512px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &.visual_02 {
        width: 100vw;
    
        background: url('../image/visual_02.png');
    }

    .visual_txt {
        color: white;
        font-weight: bold;
        &.visual_txt1 {
            color: #6febfb;
            font-size: 30px;
            font-weight: 700;
        }
        &.visual_txt2 {
            font-size: 45px;
            font-weight: 700;
            padding: 15px;
        }
        &.visual_txt3 {
            font-size: 25px;
            font-weight: 700;
        }
    }
    
    
}




/* Header */
#header {
    height: 90px;
    .header-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    align-items: center;

    }
    img {
        height: 90px;
    }
    #header-logo {
        height: 60px;
    }
    .header-link {
        & > span + span {
            &::before {
                content: 'ㅣ';
            }
        }
        a{
            color: #676767;
            font-size: 15px;
            font-weight: 500;

        }
    }

}

body {
    height: 2000px;
}

#nav {
    position: relative;

    .nav-menu {

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 50px;
        font-size: 18px;
        font-weight: 700;
        li.item {
            flex-grow: 1;
            .item-name {
                padding: 10px 0;
            }
            .item-content {
                display: none;
                left: 0;
                    position: fixed;
                    background: rgba(246, 246, 246, 0.97);
                    right: 0;
                    height: 200px;
                    padding: 10px 0;
                    .container {
                        padding-left:184px;
                        .item-container {
                            display: inline-flex;
                            ul {
                                padding: 0;
                                min-width: 196px;
                                font-weight: 500;
                                li {
                                    
                                    padding: 10px 0;
                                    & > a {
                                        color: #5c5956;
                                        text-decoration: none;
                                        &:hover {
                                            color: red;
                                        }
                                    }
                                }
                            }
                        }
                      
                    }
            }
         
            &:hover {
                .item-name {
                    color: red;
                }
                .item-content {
                    display: block;

                }
            } 
            
        }
    }
}
#main-section {
    text-align: center;
    .section__title {
        padding: 30px 0;
    }
    .section__content {
        display: flex;
        height: 290px;
        .content-ul {
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 200px;
            padding-left: 0;
            li {
                margin: 1px;
                padding-top: 8px;
                padding-bottom: 1px;
                background-color: #aea79f;
                width: 100%;
                height: 100%;
                color: white;
                font-weight: 600;
                font-size: 18px;
            }
        }
        img {
            height: 100%;
            margin: 0 1px;
        }
        .content-img img{
            width: 690px;            
        }
        .content-banner {
            width: 300px;
        }
    }
}
section.section1 {
    .banner-list{
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        .banner-item {
            overflow: hidden;
            img {
                width: 400px;
            }
        img:hover {
            cursor:pointer;
            transform:scale(1.05); /* 마우스 오버시 이미지 크기를 1.1 배만큼 확대시킨다. */
            transition: transform .8s;  
        }
    }
    }
}
section.section2 {
    .section__title {
    text-align: center;
        padding: 30px 0;
    }
    .section__content {
        display: flex;
        .map,.parking {
            overflow: hidden;
            img:hover {
                cursor:pointer;
                transform:scale(1.05); /* 마우스 오버시 이미지 크기를 1.1 배만큼 확대시킨다. */
                transition: transform .8s;  
            }
        }
        .map img {
            width: 730px;
        }
        .parking img{
            width: 230px;
        }
        .timetable img,.center-phone img  {
            width: 465px;
        }
        
    }
}
