#main-wrapper {
    height: fit-content;
}

#clinic-container {
    height: fit-content;
    overflow: hidden;
}
#clinic-container .container {
    height: fit-content;
    overflow-x: scroll;
}
#clinic-container nav {
    margin-top: 30px;
    margin-bottom: 10px;
}
#clinic-container nav span,#clinic-container nav button{
    color: #666;
}
#clinic-container table th:nth-child(3),#clinic-container table th:nth-child(2) {
    min-width: 70px;
}
#clinic-container table th {
    /* width: fit-content; */
    min-width: 100px;
}
#clinic-container table th:nth-child(5) {
    min-width: 250px;
}
#clinic-container table th:nth-child(10) {
    width: 100px;
}
#clinic-container table td:nth-child(10) {
    word-break :keep-all;
}
#clinic-container table th.tableIndex {
    min-width:30px;
   
}
#clinic-container table tr td{
    /* max-width: 300px; */
    word-break:break-all;
}
#clinic-container table tbody tr:not(.current) {
    display: none;
}
#clinic-container nav {
    display: flex;
    justify-content: space-between;
}
#clinic-container nav .search-input {
    border-radius: .5rem;
    
}

@media screen and (max-width: 800px) {
  #clinic-container {
      min-height: fit-content;
  }
  /* #clinic-container nav {
      justify-content: flex-start;
  } */
  #clinic-container nav .pagination li{
    min-width: 40px;

  }
}