

/* Check_Location_Screen */
.screen {
    flex: 1;
    align-items: center;
    justify-content: center;
}
.screen-text{
    color: 'black';
    font-size: 27;
    font-weight: bold;
}
.screen button {
    height: 50;
    border-radius: 10;
    align-items: center; 
    justify-content: center;
    /* width: Dimensions.get('window').width / 1.5 */
}

/* My_Screen */
.my-screen .my-screen-id {
    flex:9; 
    align-items: center; 
    justify-content: center;
}
.my-screen .my-screen-btn-container {
    flex:1; 
    align-items: center; 
    justify-content: center;
}

.my-screen .my-screen-btn-container button{ 
    background-color: 'gray';
    /* width: Dimensions.get('window').width / 1.5; */
    
}


/* Select_menu_Screen */
.select-menu-screen > .input-id{ 
    border-top-left-radius: 10;
    border-top-right-radius: 10;
    border-color: black;
    border-width: 2;
    border-bottom-width: 0;
    color: black;
    /* width: Dimensions.get('window').width / 1.5  */
    /* placeholderTextColor='gray'  */
}
.select-menu-screen > .input-pw { 
    margin-bottom: 5;
    border-bottom-left-radius: 10;
    border-bottom-right-radius: 10;
    border-color: black;
    border-width: 2;
    color: black;
    /* width: Dimensions.get('window').width / 1.5  */
    /* placeholderTextColor='gray' */
}

.btn-login {
    margin-bottom:50;
    background-color: gray;
}
/* Signup_Screen */
.signup-screen input{
    color: black;
    border-width: 2;
    border-color: black;
/* placeholderTextColor='gray'  */
}
.signup-screen .input-id {
    margin-bottom: 5;
    border-radius: 10;
  
    /* width: Dimensions.get('window').width / 1.5  */
}
.signup-screen .input-pw {
    border-top-left-radius: 10;
    border-top-right-radius: 10;
    border-bottom-width: 0;

}

.signup-screen .input-pw-test   { 
    margin-bottom: 5;
    border-bottom-left-radius: 10;
    border-bottom-right-radius: 10;
}

.signup-screen button{ 
    margin-bottom: 5;
    background-color: gray;

}
