.header-container {
    width: 100%;
}
.header-container span{
    font-size: 24px;
    float: left;
    position:absolute;

}
.header-container input.header-logoutBT {
      float: right;
}
.nav-item a {
    text-decoration: none;

}
.nav-link {

}